{% extends 'layout.html' %}

{% block title %}abcdefgh{% endblock %}
{% block content %}

<div class="alert alert-primary" role="alert">
    <h1 class="text-center">Usuario: </h1>id usuario: 
    <h2 class="text-center">Historial de mensajes de Raspberry Pi Pico</h2>
</div>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      aaa
      </ul>    
    </div>
  </div>
</nav>
<table id="tablaMensajes" class="display" style="width:100%"> 
    <thead>
        <tr>
            <th>#</th>
            <th>Tipo:</th>
            <th>Mensaje:</th>
            <th>Fecha:</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    


{% endblock %}
