{% extends 'layout.html' %}

{% block title %}Listado de Raspberry Pi Pico{% endblock %}
{% block content %}
<div class="alert alert-primary" role="alert">
    <h2 class="text-center">Listado de Raspberry Pi Pico</h2>
</div>        
<table id="tablaVecinos" class="display" style="width:100%"> 
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre Raspberry</th>
    </tr>
    </thead>
    <tbody> 
    </tbody>
</table>

<div class="d-grid gap-2 col-6 mx-auto">
    <a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Registrar vecino</a>
    <a href="{{ url_for('index') }}" class="btn btn-primary" type="button">Menu principal</a>
    <a href="{{ url_for('ViewMensajes.formularioEnvioMensaje') }}" type="button" class="btn btn-success">Enviar mensaje</a>
</div>

<!-- INICIO MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Datos Raspberry (con la que voy a conectarme)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/registrarVecino" class="row g-3 needs-validation">
      
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Nombre grupo:</label>
            <input type="text" class="form-control" name="txtNombreGrupo" required pattern="^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)?$" title="Válido solo un espacio. Ejemplo: datos, grupo 2, mi mejor grupo">
            <div class="valid-feedback">
                Muy bien.
            </div>
        <div class="invalid-feedback">
            Por favor, introduce un nombre de grupo.
        </div>
          </div>
           <div class="modal-footer">
            <input type="submit" value="Guardar datos" class="btn btn-primary" type="button">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
           </div>
        </form>
      </div>
     
    </div>
  </div>
</div>

<!-- FIN MODAL -->
<script>
$(document).ready(function () {
    function actualizarTabla(){
    $('#tablaVecinos').DataTable({
        "ajax": {
            "url": "/obtenerVecinos",
            "dataSrc": "data"  // Indica que los datos se encuentran en la propiedad "data"
        },
        "columns": [
            { "data": "id" },
            { "data": "nombre" }
        ],
        
    });
    }
    actualizarTabla();
});
</script>
{% endblock %}